@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);
h1 {
	margin: 5px;
}

.main-grid{
	margin: 0 auto;
	max-width: fit-content;
	max-width: -moz-fit-content;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
.header {
	margin: 10px auto 10px auto;
    width: fit-content;
	color: white;
	text-shadow: 0px -1px 5px #009fff, 0px -1px 10px #009fff;
	background-color: black;
	border-radius: 50px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 2px 2px 4px #b8c5de;
}

.tooLong {
	background-color: #e60000 !important;
	color: #ffffff;
}

.tooLong:focus {
	background-color: #fa9898 !important;
}

.app {
	margin-bottom: 10px;
}

.qarea {
	width: 90%;
    height: 300px;
	margin-top: 10px;
	border-radius: 12px;
	background-color: #e8e8e8;
}
.qarea:focus {
	background-color: #ffffff;
	outline-width: 0;
	transition: background-color .2s ease;
}

.error1 {
	color: #e60000;
    font-size: 9pt;
    padding: 3px 10px 3px 10px;
}

.buttonsField {
	margin: 10px;
}

.resetButton {
	width: fit-content;
    margin: 5px;
}

.btn {
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0 0 3px #4a4a4a;
	border-radius: 15px;
	font-weight: bold;
    padding: 7px;
	border: none;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn::before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #009fff;
	opacity: 0.25;
	border-radius: 15px;
	position: absolute;
	margin: -7px;
	z-index: -1;
	transform: translateX(100%);
}

.btn::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #009fff;
	opacity: 0.25;
	border-radius: 15px;
	position: absolute;
	margin: -7px 7px;
	z-index: -1;
	transform: translateX(-200%);
}

.btn:hover {
	box-shadow: 0px 0px 6px #009fff;
	transition: box-shadow .3s .3s linear;
}

.btn:hover::before {
	transform: translateX(0%);
	opacity: 0.05;
	transition: transform .2s linear, opacity .3s .1s linear;
}

.btn:hover::after {
	transform: translateX(-100%);
	opacity: 0.05;
	transition: transform .2s linear, opacity .3s .1s linear;
}

.btn:focus {
	outline: none;
}

.btn:active {
	box-shadow: 0px 0px 10px #009fff;
	transform: scale(0.9);
	transition: box-shadow .1s linear, transform .2s linear;
}

.question, .anserw, select, input[type=number], input[type=color i] {
	border-radius: 12px;
    border: solid #dddddd 1px;
	padding: 4px;
	background-color: #e8e8e8;
	margin: 2px;
}
.question:focus, .anserw:focus, select:focus, input[type=number]:focus,input[type=color i]:focus {
	background-color: #ffffff;
	outline-width: 0;
	transition: background-color .2s ease;
}

.arrowsDiv {
    font-size: 25px;
}

.littleArrow {
    font-size: 10pt;
    vertical-align: middle;
    padding-left: 5px;
}
.littleCard {
	font-weight: 700;
	font-size: 9pt;
}

.styleContent {
	width: 524px;
}

.cardsDivStyle {
    display: inline-flex;
}

.settingsDivStyle {
	display: flex;
    padding: 5px;
}

.settingsColumn {
	width: 50%;
}

.canvasDiv {
	display: grid;
	padding: 5px;
}

.label {
	margin: 7px;
	font-size: 10pt;
	width: fit-content;
	width: -moz-fit-content;
}

.questionsContent {
	counter-reset: lineNumber;
}

.qaLine:hover {
    background-color: rgba(0, 159, 255, 0.25);
	border-radius: 15px;
}

.qaLine::before {
	counter-increment: lineNumber;
	content: counter(lineNumber) ")";
	font-size: 10pt;
	padding-left: 5px;
    color: #bfbfbf;
}

.qaLine:hover::before {
    color: black;
}

.arrowLabel1 {
	color: #780d97;
}

.arrowLabel2 {
	color: #0391f1;
}

.arrowLabel3 {
	color: #e90687;
}

.arrowLabel4 {
	color: #f75116;
}

.arrowLabel5 {
	color: #fddb01;
}

.arrowLabel6 {
	color: #06bb69;
}

.arrowBtn:hover {
	text-shadow: 0px 0px 7px #009fff;
}

.footer {
	margin: 10px;
	text-align: center;
}

.disable {
	display: none;
}

input[type=number] {
	width: 60px;
}

.collapse {
  width: 100%;
}

.collapse-label {
	position: relative;
	border: solid #dddddd 1px;
	background-color: #ffffff;
	border-radius: 12px;
	overflow: hidden;
}
  
.collapse-label > input[type=checkbox] {
	display: none;
}
  
.collapse-header {
	display: grid;
	color:#adadad;
	background-color: #ffffff;
	padding: 5px 0px 5px 0px;
	font-size: 10pt;
	font-weight: 700;
	border-radius: 12px;
	box-shadow: 0px 2px 4px #dddddd;
	z-index: 1;
}

.collapse-header:hover {
	background-color: rgba(0, 159, 255, 0.25);
	color: #000000;
}

.collapse-header::before {
	content: "✚";
	color: #adadad;
	width: 100%;
	text-align: right;
	position: absolute;
	margin-left: -5px;
	z-index: 1;
}
.collapse-header:hover::before {
	color: #000000;
}

.collapse-label > input[type=checkbox]:checked ~ .collapse-header {
	color: #000000;
}

.collapse-label > input[type=checkbox]:checked ~ .collapse-header::before {
	content: "➖";
}
  
.collapse-content {
	overflow: hidden;
	position: absolute;
	display: inline-grid;
	margin: 7px;
	width: 100%;
	right: 0%;
	pointer-events: none;
	opacity: 0;
	transform: scaleY(0) translateY(-75%);
	transform-origin: top;
	transition: transform .3s .1s linear, opacity .4s linear;
}
.collapse-label > input[type=checkbox]:checked ~ .collapse-content {
	overflow: hidden;
	position: relative;
	display: inline-grid;
	text-align: left;
	pointer-events: auto;
	width: auto;
	opacity: 1;
	transform: scaleY(1) translateY(0);
	transition: transform .3s .1s linear, opacity .4s linear;
}

.loader {
	background-color: #00000080;
	position: fixed;
	margin: auto;
	top: 0;
    right: 0;
    bottom: 0;
	left: 0;
	z-index: 2;
}

.loader::before {
	content: '';
	height: 60px;
	width: 60px;
	border: 6px solid rgba(0, 159, 255, 0.2);
	border-top-color: rgba(0, 159, 255, 0.8);
	border-radius: 100%;
	position: absolute;
	animation: rotation 1s infinite linear 0.25s;
	margin: auto;
	top: 0;
    right: 0;
    bottom: 0;
	left: 0;
	z-index: 3;
}

.loader::after {
	content: 'Proszę czekać...';
	color: white;
	height: 15pt;
    width: max-content;
	position: absolute;
	margin: auto;
	top: 0;
    right: 0;
    bottom: 0;
	left: 0;
	z-index: 3;
}
  
@keyframes rotation {
	from {
		opacity: 1;
		transform: rotate(0deg);
	}
	to {
		opacity: 1;
		transform: rotate(359deg);
	}
}

@media (max-width: 550px) {
	.styleContent {
		width: auto;
	}
	.cardsDivStyle {
		display: inline-block;
	}
	.settingsDivStyle {
		display: grid;
	}
	.settingsColumn {
		width: 100%;
	}
}

@media (max-width: 460px) {
	h1 {
		font-size: 18pt;
	}
	.qaLine {
		display: grid;
	}
	.qaLine::before {
		content: "("counter(lineNumber) ")";
		font-size: 6pt;
	}
	.label {
		margin: 0;
	}
}

@media (max-width: 360px) {
	h1 {
		font-size: 13pt;
	}
}