.main-grid{
	margin: 0 auto;
	max-width: fit-content;
	text-align: center;
}
.header {
	margin-top: 10px;
}

.tooLong {
	background-color: red;
}

.app {
	margin-bottom: 10px;
}

.qarea {
	width: 90%;
    height: 300px;
	margin: 10px;
}

.buttonsField {
	margin: 10px;
}

.arrowsDiv {
    font-size: 25px;
}

.littleArrow {
    font-size: 12pt;
    vertical-align: middle;
    padding-left: 5px;
}

.cardsDivStyle {
    display: inline-flex;
}

.settingsDivStyle {
    display: grid;
}

.canvasDiv {
	display: grid;
	letter-spacing: 0.5px;
	padding: 5px;
}

.label {
	margin: 7px;
	font-size: 12pt;
}

.arrowLabel1 {
	color: #780d97;
}

.arrowLabel2 {
	color: #0391f1;
}

.arrowLabel3 {
	color: #e90687;
}

.arrowLabel4 {
	color: #f75116;
}

.arrowLabel5 {
	color: #fddb01;
}

.arrowLabel6 {
	color: #06bb69;
}

.footer {
	margin: 10px;
	text-align: center;
}

.disable {
	display: none;
}

.collapse {
  width: 100%;
}

.collapse-label {
	position: relative;
	border: solid #dddddd 1px;
	background-color: #ffffff;
}
  
.collapse-header:hover {
	background-color: #dddddd;
}
  
  .collapse-label > input[type=checkbox] {
	display: none;
}
  
.collapse-header {
	display: grid;
	background-color: #efefef;
	padding: 5px 0px 5px 0px;
}

.collapse-header::before {
	content: "✚";
	width: 100%;
	text-align: right;
	position: absolute;
	margin-left: -5px;
}
  
.collapse-label > input[type=checkbox]:checked ~ .collapse-header::before {
	content: "➖";
}
  
.collapse-content {
	overflow: hidden;
	position: absolute;
	display: inline-grid;
	margin: 7px;
	width: 100%;
	right: 0%;
	pointer-events: none;
	opacity: 0;
	transform: scaleY(0) translateY(-75%);
	transform-origin: top;
	transition: transform .3s .1s linear, opacity .4s linear;
}
.collapse-label > input[type=checkbox]:checked ~ .collapse-content {
	overflow: hidden;
	position: relative;
	display: inline-grid;
	text-align: left;
	pointer-events: auto;
	width: auto;
	opacity: 1;
	transform: scaleY(1) translateY(0);
	transition: transform .3s .1s linear, opacity .4s linear;
}

@media (max-width: 768px) {
    h1 {
		color: red;
	}
}